{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block page %}About{% endblock %}

{{ super() }}

{% block content %}
<h3>Group Members</h3>
<p> Name: Shemiah Superville <br> Student ID: 816024952 <br> Email: shemiah.superville@my.uwi.edu</p>

<p> Name: Tristan Mannette <br> Student ID: 816024015 <br> Email: tristan.mannette@my.uwi.edu</p>


<p> Name: Sanjay Bisram <br> Student ID: 816027514 <br> Email: sanjay.bisram@my.uwi.edu</p>

<p> Name: Aliyah Orie<br> Student ID: 816023610 <br> Email: aliyah.orie@my.uwi.edu</p>

{% endblock %}